body {
  background-color: rgb(248, 250, 252);
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  position: relative;
  height: 240px;
  width: 327px;
}
label {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-align: center;
  vertical-align: middle;
  outline: none;
}
img {
  margin-left: -5px;
  height: 26px;
  width: 26px;
}
#description {
  height: 73px;
  width: 309px;
}
textarea {
  outline: none;
  resize: none;
}
select, textarea {
  border-radius: 3px;
}

.optionKey {
  margin-left: 2px;
  float: right;
  background-color: rgb(64, 137, 177);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgb(64, 137, 177);
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 30px;
  width: 30px;
  text-decoration: none;
  right: 0;
  position: absolute;
}
.optionKey:hover {
  background-color: rgb(59, 128, 165);
}
.optionKey:active {
  position: relative;
  top: 1px;
}
.submit {
  margin: auto;
  background-color: rgb(64, 137, 177);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgb(64, 137, 177);
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
.submit:hover {
  background-color: rgb(59, 128, 165);
}
.submit:active {
  position: relative;
  top: 1px;
}
#main {
  padding: 0 5px;
  z-index: 0;
  position: absolute;
}
#wrap {
  text-align: center;
}
#thing {
  font-size: 13px;
}
#school {
  margin-top: 8px;
    font-size: 12px;
    line-height: 3px;
    color: #5f6d75;
    font-weight: 500;
}
#email {
  display: none;
}
#category {
  padding: 5px;
  margin-left: 15px;
  outline: none;
}
#settingMenu {
  visibility: hidden;
  position: absolute;
  margin: 4px;
}
